@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* TOP */

.top{
    background-color: #2d3054;
    color: white;
}

#topContainer{
    display: flex;
    flex-direction: row;
    height:25vh;
    width:100vw;
}
#expContainer{
    display: flex;
    flex-direction: row;
    height:5vh;
    width:100vw;
}

/* CENTRO */
.cen{
    background-color: white;
    color: black;
}
#centContainer{
    display: flex;
    flex-direction: row;
    height:90vh;
    width:100vw;
}
#centroEsq{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 90vh;
    background-color: #2d3054;
    color:white;
}
#centroMeio{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    background-color: white;
}
#centroDta{
    display: flex;
    flex-direction: column;
    width: 2vw;
    height: 30vh;
    background-color: #2d3054;
    color:white
}

/* FOOTER */
.foot{
    background-color: #2d3054;
    color: white;
}

#footContainer{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width:100vw;
}