@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 98vw;
}

/* TOP */

.top {
  background-color: #2d3054;
  color: white;
}

#topContainer {
  display: flex;
  flex-direction: row;
  height: 2vh;
  width: 100vw;
  background-color: #2d3054;
  justify-content: right;
  color: white;
}

#logo {
  width: 20vw;
  height: 10vh;
  z-index: 3;
  position: fixed;
  top: 0;
  background-color: #989bb9;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}
#logouab {
  display: flex;
  background-color: #ffffff;
  top: 1vh;
  position: fixed;
  left: 1vw;
  z-index: 3;
  width: 15vw;
  margin: 1vw;
  border-radius: 10px 10px 10px 10px;
}

#expContainer {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100vw;
}
#expEsq {
  width: 15vw;
  height: 5vh;
  color: white;
  background-color: #2d3054;
}
#expMeio {
  width: 35vw;
  height: 5vh;
  color: white;
  background-color: #2d3054;
  z-index: 2;
  border-radius: 0px 0px 10px 10px;
  transition: ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
}
#expMeioCima {
  height: 15vh;
  display: none;
  align-self: center;
}
#expMeioBaixo {
  height: 5vh;
  align-self: center;
}
#expDta {
  width: 30vw;
  height: 5vh;
  color: white;
  background-color: #2d3054;
}
/* CENTRO */
.cen {
  background-color: white;
  color: black;
}
#centContainer {
  display: flex;
  flex-direction: row;
  height: 88vh;
  width: 100vw;
}
#centroEsq {
  display: flex;
  flex-direction: column;
  width: 5vw;
  height: 88vh;
  background-color: #2d3054;
  color: white;
  transition: ease-in-out 0.5s;
  align-items: center;
  justify-content: center;
}

.menulateral {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.iconmenu {
  align-self: left;
  margin: 3vh;
  width: 1vw;
}
.spanmenu {
  display: none;
  font-size: 1.2em;
  align-self: center;
  width: 10vw;
}
#centroMeio {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 88vh;
  background-color: lightgrey;
  margin: 1vh;

  z-index: 1;
}
#centroDta {
  display: flex;
  flex-direction: column;
  width: 0vw;
  height: 80vh;
  background-color: #2d3054;
  color: white;
  border-radius: 10px 0px 0px 10px;
  position: fixed;
  right: 0;
  top: 12vh;
  z-index: 2;
  transition: ease-in-out 0.5s;
}

/* FOOTER */
.foot {
  background-color: #2d3054;
  color: white;
}

#footContainer {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100vw;
  bottom: 0;
  position: fixed;
}

#footEsq {
  width: 70vw;
}

#footDta {
  width: 30vw;
  align-self: center;
  text-align: right;
  margin-right: 5vw;
}
#home {
}
#aluno {
}
#uab {
}
